html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

/* ================= HEADER ================= */

.header {
    width: 100%;
    height: 75px;
    background: rgb(38, 28, 24);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 16px;
    box-sizing: border-box;
}

/* logo */
.img1 {
    height: 55px;
    cursor: pointer;
}

/* navigation */
.middle {
    display: flex;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    color: rgb(245, 237, 220);
    cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: rgb(245, 237, 220);
  font-weight: 500;
}

.nav-links a:hover {
  opacity: 0.8;
}


/* contact button */
.btn-1 {
    padding: 8px 16px;
    color: rgb(38, 28, 24);
    border-radius: 20px;
    background-color: rgb(245, 237, 220);
    border: none;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
}

section,
.about-section,
.menu-vibe,
.contact-visit {
  scroll-margin-top: 90px;
}



/* ================= MOBILE ================= */

@media (max-width: 768px) {

    .header {
        height: auto;
        padding: 12px 16px;
    }

    /* hide menu for mobile (hamburger later) */
    .middle {
        display: none;
    }

    .img1 {
        height: 48px;
    }

    .btn-1 {
        padding: 6px 14px;
        font-size: 14px;
    }
}
