.sidebar{
    position: fixed;
    background-color: white;
    width: 72px;
    top: 55px;
    left: 0;
    bottom: 0;
}
.absolute{
    position: absolute;
    top: 25px;
    right: 21px;
}
.home{
    width: 26px;
}
.home-para{
    font-size: 10px;
    margin-top: 0px;
}
.explore{
    position: absolute;
    top: 100px;
    right: 15px;
}
.explore-icon{
    width: 26px;
}
.explore-para{
    font-size: 10px;
    margin-top: 0px;
}