
            .thumbnail{
              width: 100%;  
            }
            .preview{
              width: 100%;
            }
          
            .c1{
                width: 36px;
                height: 36px;
                border-radius: 50%;
            }
            .div1{
                margin-bottom: 12px;
                position: relative;
            }
            .time{
              font-size: 11px;
              font-weight: ;
              padding-left: 3px;
              padding-right: 3px;
              padding-top: 3px;
              padding-bottom: 3px;
              top: 128px;
              right: 4px;
              border-radius: 2px;
              color: white;
              position: absolute;
              background-color: black;
            }
            .video-info-grid{
              display: grid;
              grid-template-columns:40px 1fr;
            }
            .channel-picture{
              width: 40px;
            }
            .channel-info{
              width: auto;
            }
            .p1{
                margin-top: 0px;
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                width:auto;
            }
            .p2,
            .p3{
                font-size: 12px;
                color: rgb(96, 96, 96)
            }
            .video-grid{
              display: grid;
              grid-template-columns: 1fr 1fr 1fr ;
              column-gap:15px;
              row-gap: 35px;
            }