
.video-grid {
  margin-top: 64px;
  margin-left: 72px;
  padding: 16px 24px;

  display: grid;
  gap: 24px;

  grid-template-columns: repeat(4, 1fr); /* default max = 4 */
}

.div1 {
  margin-bottom: 10px;
}

.thumbnail {
  width: 100%;
  display: block;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 36px 1fr;
  column-gap: 12px;
}

.c1 {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.p1 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}

.p2,
.p3 {
  font-size: 12px;
  color: rgb(96, 96, 96);
}