 p{
        font-family: Roboto;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .k1{
        font-size: 18px;
        font-weight: bold;
        width: 300px;
        line-height: 24px;
        margin-bottom: 5px;
    }
    .k2{
        font-size: 14px;
        color: rgb(96, 96, 96);
        margin-bottom: 20px;

    }
    .k3{
        color: rgb(96, 96, 96);
        font-size: 14px;
        margin-bottom: 14px;
    }
    .k4{
        color:rgb(96, 96, 96);
        font-size: 14px;
        width: 280px;
        line-height: 22px;
        margin-bottom: 100px;
    }
    .k5{
        margin-bottom: 50px;
        color: white;
        font-size: 14px;
        background-color:rgb(227, 65, 64);
        border:none;
        text-align: center;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 0px;
        padding-left: 18px;
        padding-bottom:18px;
        padding-right:18px;
        padding-top:18px;
    }
    .s1{
        cursor: pointer;
    }
    .s1:hover{
        text-decoration: underline;
    }
