 .a1{
        background-color:rgb(200,0,0);
        color:white;
        border: none;
        height:36px;
        width:105px;
        border-radius:2px;
        cursor:pointer;
        margin-right:8px;
        transition: opacity 0.15s;
        box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
        }
        
        .a1:active{
            margin-top: 3px;
            margin-left: 3px;
            box-shadow: none;
        }
.a2{
        background-color:white;
        color:rgb(41,118,211);
        border-color:rgb(41,118,211);
        border-style:solid;
        border-width:1px;
        height:36px;
        width:80px;
        border-radius:2px;
        cursor:pointer;
        transition: background-color 0.15,
        color 0.15s;
    }
    .a2:hover{
        background-color:rgb(41,118,211);
        color: white;
    }
    .a2:active{
        opacity: 0.7;
    }
.a3{
      background-color:rgb(41,118,211);
       color:white;
        border-color:rgb(41,118,211);
        border-style:solid;
        height:36px;
        width:80px;
        border-radius:55px;
        cursor:pointer;
        font-weight:bold;
        font-size:15px;
        margin-left:8px;
        transition:box-shadow 0.15s;

}
.a3:hover{
      box-shadow: 5px  5px 10px rgba(0,0,0,0.15);
}
        
